html, body {
  height: 100%;
}

.App {
  text-align: center;
  justify-content: space-around;
  background-color: black;
  height: 100%;
}

.Columns {
  text-align: center;
  display: flex;
  justify-content: space-around;

}

.Column {
  background-color: red;
  margin: 25px;
}

.Title {
  text-align: center;
  justify-content: center;
  flex-direction: row;
  background-color: blue;
  width: 50%;
}

#root {
  height: 100%;
}