html, body {
  height: auto;
  background-color: #1A1648;
}

.App {
  margin: 3%;
}

.Columns {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.Column {
  background-color: #7D204C;
  margin: 5%;
  padding: 10%;
}

.Title {
  text-align: center;
  background-color: #7D204C;
  color: black;
  width: 50%;
  margin: 0 auto;
  padding: 3%;
}