html, body {
  height: 100%;
  background-color: #1A1648;
}

.App {
  height: 100%;
}

.Columns {
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.Column {
  background-color: #7D204C;
  margin: 25px;
  padding: 10%;
}

.Title {
  text-align: center;
  background-color: #7D204C;
  color: black;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 25px;
}

#root {
  height: 100%;
}